:root {
  --default-easing: ease;
  --default-transition: 300ms var(--default-easing);
  --container-w: 800px;
  --mobile-w: 768px;
  --bg-color: #ffffff;
  --offset-color: #cecece;
  --text-color: #000000;
  --link-color: #0039f3;
  --error-color: #cf2f2f;
  --help-text-color: #818181;
  --link-visited-color: var(--link-color);
}

/* @media (prefers-color-scheme: dark) { */
/* body:not(.theme-light) { */
/* @include dark-theme; */
/* } */
/* } */
body.theme-dark {
  --bg-color: #0e1c36;
  --offset-color: #261c53;
  --text-color: #f5fbef;
  --link-color: #f0a6ca;
}

html {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-width: 250px;
}

/* fix: hiding/showing the scrollbar shifts page layout
@media screen and (min-width: $mobile-size) {
  html {
    margin-left: calc(100vw - 100%) !important;
  }
  body {
    margin-left: calc(100% - 100vw) !important;
  }
} */

body {
  color: var(--text-color);
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: none;
}

.wrapper {
  background: var(--bg-color);
  position: relative;
  min-height: 100vh;
}

.page {
  margin: 0 auto;
  max-width: var(--container-w);
  padding: 72px 20px;
}

.index-page .wrapper {
  overflow: hidden;
}
.index-page .wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  --d: 15px;
  --offset: 15px;
  background-image: radial-gradient(var(--offset-color) 1px, transparent 0);
  background-size: calc(var(--d) * 2) calc(var(--d) * 2);
  background-position: calc(var(--offset) - var(--d))
    calc(var(--offset) - var(--d));

  transform: scale(1);

  animation:
    fadeInOpacity 2s ease,
    breath 6s cubic-bezier(0.42, -0.02, 0.5, 0.97) infinite alternate;
  animation-fill-mode: forwards, none;
}
.index-page .nav-container {
  background: none;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1.035);
  }
  100% {
    transform: scale(1);
  }
}

/* credit to FontAwesome: */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.icon-head {
  margin-right: 8px;
  font-size: 1.3rem;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
h4,
h5,
h6,
p {
  letter-spacing: 0.5px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 6px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 6px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
}
p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}
li {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;

  &::marker {
    content: "• ";
  }
}
ul,
ol {
  margin: 0;
  padding-left: 14px;
}

.resume-title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.help {
  color: var(--help-text-color);
  padding-top: 8px;
  margin: 0 !important;
  * {
    font-size: 14px !important;
    margin-bottom: 0.25rem !important;
  }
}

.error {
  color: var(--error-color);
  padding: 24px;
}

.exp-item__date {
  font-weight: 600;
}

.exp-item__title > :first-child {
  font-weight: 700;
  margin-right: 4px;
}

.exp-item__title > :nth-child(2) {
  font-weight: 600;
}

.exp-item__title > :nth-child(2):before {
  content: "| ";
}

.vertical-margin {
  padding: 0.5in 0;
}

a,
a * {
  color: inherit;
}
a:not(:hover) {
  text-decoration: none;
}

.pad-horizontal {
  padding: 0 0.25in;
}
.pad-vertical + .pad-vertical {
  padding-top: 24px;
}

.layers {
  & > * {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 99.999vh;
  }
  img {
    object-fit: cover;
  }
}

.nav {
  display: flex;
  max-width: var(--container-w);
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;

  text-align: center;

  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      list-style: none;
      & > * {
        pointer-events: all;
        text-decoration: none;
        color: var(--text-color);
        transition: box-shadow var(--default-transition);
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        line-height: 1;

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 2.5px;

        &:hover,
        &:focus,
        &.active {
          box-shadow: inset 0 4px 0 0 var(--text-color);
        }
      }
    }
  }
}

dl.expertise-table {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
  display: block;
  dt {
    display: inline-block;
    font-weight: 600;
    min-width: 180px;
    white-space: nowrap;
  }
  dd {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
  }
}

.text-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-container {
  background: linear-gradient(
    0deg,
    transparent,
    var(--bg-color) 60%,
    var(--bg-color) 100%
  );
  height: 100px;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.content {
  &,
  p,
  li {
    font-size: 18px;
  }
  h1 {
    padding: 1em 0;
    font-size: 36px;
  }
  h2,
  h3,
  p,
  .image {
    margin-bottom: 24px;
  }
  li {
    margin-bottom: 8px;
  }
  a {
    color: var(--link-color);
    &:visited {
      color: var(--link-visited-color);
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.box-link {
  --transition: 0.5s var(--default-easing);

  display: flex;

  font-weight: bold;
  box-sizing: border-box;

  transition: color var(--default-transition);
  border: 1px solid var(--text-color);
  position: relative;

  flex-basis: calc(100% / 3 - 2rem);
  height: 200px;
  margin: 1rem;

  img {
    z-index: 0;
    opacity: 0 !important;
    visibility: hidden;
    transition: var(--default-transition);
    transition-property: opacity, visibility;

    pointer-events: none;
  }

  a {
    flex: 1;
    width: 100%;

    text-decoration: none;
    display: block;
    overflow: hidden;
    z-index: 0;

    span {
      opacity: 1;
      transition: var(--default-transition);
      transition-property: transform, text-shadow, color;

      width: 100%;
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      color: var(--text-color);

      font-weight: 600;

      padding: 16px;
      box-sizing: border-box;
    }
  }

  &:hover {
    a {
      /* background: linear-gradient(
         to bottom,
         transparent 80%,
         var(--bg-color) 100%
       );*/

      span {
        transform: translateY(40%);
        color: #000;
        --c: #fff;
        --s: 1px;
        text-shadow:
          calc(-1 * var(--s)) calc(-1 * var(--s)) 0 var(--c),
          var(--s) calc(-1 * var(--s)) 0 var(--c),
          calc(-1 * var(--s)) var(--s) 0 var(--c),
          var(--s) var(--s) 0 var(--c);
      }
    }
    img {
      visibility: visible;
      opacity: 1 !important;
    }
  }
}

.box-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem 0 -1rem;
}

.plain-button {
  line-height: 1.5;
  padding: 6px 16px;
  border: 1px solid var(--text-color);
  background: var(--bg-color);
  cursor: pointer;
  transition: background-color var(--default-transition);
}
.plain-button:hover {
  background: var(--offset-color);
}

.go-back-link {
  outline: none;
  user-select: none;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--text-color) !important;
  transition: margin-left var(--default-transition);
  &:hover {
    margin-left: -5px;
  }
}

.shadowed {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Add to any element to overlay a spinner */
.loading::before {
  --size: 40px;
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  margin-top: calc(-1 * var(--size) / 2);
  margin-left: calc(-1 * var(--size) / 2);
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .box-link {
    flex-basis: 100%;
    height: 150px;
  }

  .flex-table span:first-child {
    min-width: 100px;
    flex-basis: 100px;
  }

  .pad-horizontal {
    padding: 0 16px;
  }

  .nav ul li > * {
    letter-spacing: 1px;
    font-size: 1rem;
  }
}
