@use 'sass:math';

$easing: ease;
$transition: 300ms $easing;

$bg-color: #ffffff;
$text-color: #000000;
$help-text-color: #818181;
$link-color: #0039f3;
$error-color: #cf2f2f;

$container: 800px;

$mobile-size: 512px;
@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}

@import './resume';

@mixin light-theme {
  --bg-color: #{$bg-color};
  --offset-color: #cecece;
  --text-color: #{$text-color};
  --link-color: #{$link-color};
  --error-color: #{$error-color};
  --help-text-color: #{$help-text-color};
  --link-visited-color: var(--link-color);
}
@mixin dark-theme {
  --bg-color: #0e1c36;
  --offset-color: #261c53;
  --text-color: #f5fbef;
  --link-color: #f0a6ca;
  --error-color: #{$error-color};
  --help-text-color: #{$help-text-color};
  --link-visited-color: var(--link-color);
}

body {
  @include light-theme;
}
@media (prefers-color-scheme: dark) {
  body:not(.theme-light) {
    @include dark-theme;
  }
}
body.theme-dark {
  @include dark-theme;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-width: 250px;
}

// fix: hiding/showing the scrollbar shifts page layout
// @media screen and (min-width: $mobile-size) {
//   html {
//     margin-left: calc(100vw - 100%) !important;
//   }
//   body {
//     margin-left: calc(100% - 100vw) !important;
//   }
// }

* {
  color: var(--text-color);
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: none;
}

.wrapper {
  background: var(--bg-color);
  position: relative;
  min-height: 100vh;
}

.page {
  margin: 0 auto;
  max-width: $container;
  padding: 72px 20px;
}

.index-page .wrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  $d: 15px;
  $offset: 15px;
  background-image: radial-gradient(var(--offset-color) 1px, transparent 0);
  background-size: ($d * 2) ($d * 2);
  background-position: ($offset - $d) ($offset - $d);

  animation: fadeInOpacity 2s ease;
  animation-fill-mode: forwards;
}
.index-page .nav-container {
  background: none;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// credit to FontAwesome:
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.icon-head {
  margin-right: 8px;
  font-size: 1.3rem;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}
h4,
h5,
h6,
p {
  letter-spacing: 0.5px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 6px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 6px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
}
p {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}
li {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;

  &::marker {
    content: '• ';
  }
}
ul,
ol {
  margin: 0;
  padding-left: 14px;
}

.resume-title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.help {
  color: var(--help-text-color);
  font-size: 80% !important;
  padding-top: 8px;
  margin: 0 !important;
}

.error {
  color: var(--error-color);
  padding: 24px;
}

.exp-item__date {
  font-weight: 600;
}

.exp-item__title > :first-child {
  font-weight: 700;
  margin-right: 4px;
}

.exp-item__title > :nth-child(2) {
  font-weight: 600;
}

.exp-item__title > :nth-child(2):before {
  content: '| ';
}

.vertical-margin {
  padding: 0.5in 0;
}

a,
a * {
  color: inherit;
}
a:not(:hover) {
  text-decoration: none;
}

.pad-horizontal {
  padding: 0 0.25in;
}
.pad-vertical + .pad-vertical {
  padding-top: 24px;
}

.layers {
  & > * {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 99.999vh;
  }
  img {
    object-fit: cover;
  }
}

.nav {
  display: flex;
  // flex-direction: row;
  // flex-basis: $container;
  max-width: $container;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;

  text-align: center;

  ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      list-style: none;
      & > * {
        pointer-events: all;
        text-decoration: none;
        color: var(--text-color);
        transition: box-shadow $transition;
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        line-height: 1;

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 2.5px;

        &:hover,
        &:focus,
        &.active {
          box-shadow: inset 0 4px 0 0 var(--text-color);
        }
      }
    }
  }
}

dl.expertise-table {
  @extend p;
  display: block;
  dt {
    display: inline-block;
    font-weight: 600;
    min-width: 180px;
    white-space: nowrap;
  }
  dd {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
  }
}

.text-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-container {
  background: linear-gradient(
    0deg,
    transparent,
    var(--bg-color) 60%,
    var(--bg-color) 100%
  );
  height: 100px;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.content {
  &,
  p {
    font-size: 18px;
  }
  h1 {
    padding: 1em 0;
    font-size: 36px;
  }
  h2,
  h3,
  p,
  .image {
    margin-bottom: 24px;
  }
  a {
    color: var(--link-color);
    &:visited {
      color: var(--link-visited-color);
    }
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.box-link {
  $transition: 0.5s $easing;

  display: flex;

  font-weight: bold;
  box-sizing: border-box;

  transition: color $transition;
  border: 1px solid var(--text-color);
  position: relative;

  flex-basis: calc(100% / 3 - 2rem);
  height: 200px;
  margin: 1rem;

  & > div {
    z-index: 0;
    position: absolute;
    opacity: 0;
    transition: opacity $transition, background-color $transition;

    pointer-events: none;
  }

  a {
    flex: 1;
    width: 100%;

    text-decoration: none;
    display: block;
    overflow: hidden;

    span {
      opacity: 1;
      transition: transform $transition, color $transition,
        text-shadow $transition;

      width: 100%;
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      color: var(--text-color);

      font-weight: 600;

      padding: 16px;
      box-sizing: border-box;
    }
  }

  &:hover {
    a {
      span {
        transform: translateY(40%);
        color: #000;
        $c: #fff;
        $s: 1px;
        text-shadow: (-$s) (-$s) 0 $c, $s (-$s) 0 $c, (-$s) $s 0 $c, $s $s 0 $c;
      }
    }
    & > div {
      opacity: 1;
    }
  }
}

.box-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem 0 -1rem;
}

.plain-button {
  line-height: 1.5;
  padding: 6px 16px;
  border: 1px solid var(--text-color);
  background: var(--bg-color);
  cursor: pointer;
  transition: background-color $transition;
}
.plain-button:hover {
  background: var(--offset-color);
}

.go-back-link {
  outline: none;
  user-select: none;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--text-color) !important;
  transition: margin-left $transition;
  &:hover {
    margin-left: -5px;
  }
}

.shadowed {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

// Add to any element to overlay a spinner
.loading::before {
  $size: 40px;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  margin-top: math.div(-$size, 2);
  margin-left: math.div(-$size, 2);
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@include mobile {
  .box-link {
    flex-basis: 100%;
    height: 150px;
  }

  .flex-table span:first-child {
    min-width: 100px;
    flex-basis: 100px;
  }

  .pad-horizontal {
    padding: 0 16px;
  }

  .nav ul li > * {
    letter-spacing: 1px;
    font-size: 1rem;
  }
}
